
footer .contentFooter{
    width: 90%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 50px 0;
    border-bottom: 1px solid white;
    flex-wrap: wrap;
    position: relative;
}

footer .infoFooter,
footer .summaryFooter,
footer .contactFooter{
    width: 33%;
}
footer .infoFooter .logo{
    width: max-content;
}
footer .infoFooter .socialFooter{
    margin: 10px 0;
}


.infoFooter .socialFooter ion-icon{
    font-size: 24px;
    padding: 0 6px 0 0;
    color: gray;
}


footer .summaryFooter li{
    list-style-type: initial;
    margin-left: 16px;
}


footer .contactFooter .titleFooter{
    margin-bottom: 10px;
}

footer .contactFooter li{
    display: flex;
    align-items: center;
}

footer li{
    margin: 10px 0;
}

footer li ion-icon{
    width: 30px;
}
footer p{
    width: 80%;
    text-align: justify;
}


footer .license{
    padding: 6px 0;
}
